Repository pps83/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: deflate, inflate, gzlib, adler32, crc32, common, arch_arm, arch_loongarch, arch_power, arch_riscv, arch_s390, arch_x86, minigzip, minideflate, tools, tests, benchmarks

.codecov.yaml:

codecov:
  max_report_age: false
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

comment:
  require_base: false
  require_head: false

coverage:
  status:
    project:
      default:
        threshold: 0.07
        informational: true

component_management:
  default_rules: # Defaults inherited by all components
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: deflate
      name: deflate
      paths:
        - compare*
        - compress*
        - deflate*
        - insert*
        - match*
        - arch/generic/compare*
        - arch/generic/slide*
    - component_id: inflate
      name: inflate
      paths:
        - chunkset*
        - inf*
        - uncompr*
        - arch/generic/chunk*
    - component_id: gzlib
      name: gzlib
      paths:
        - gz*
    - component_id: adler32
      name: adler32
      paths:
        - adler32*
        - arch/generic/adler32*
    - component_id: crc32
      name: crc32
      paths:
        - crc32*
        - arch/generic/crc32*
    - component_id: common
      name: common
      paths:
        - arch_functions.h
        - cpu*
        - fallback*
        - functable*
        - trees*
        - zbuild*
        - zendian*
        - zlib*
        - zmemory*
        - zutil*
        - arch/generic/generic_functions.h
    - component_id: arch_arm
      name: arch_arm
      paths:
        - arch/arm/**
    - component_id: arch_loongarch
      name: arch_loongarch
      paths:
        - arch/loongarch/**
    - component_id: arch_power
      name: arch_power
      paths:
        - arch/power/**
    - component_id: arch_riscv
      name: arch_riscv
      paths:
        - arch/riscv/**
    - component_id: arch_s390
      name: arch_s390
      paths:
        - arch/s390/**
    - component_id: arch_x86
      name: arch_x86
      paths:
        - arch/x86/**
    - component_id: minigzip
      name: minigzip
      paths:
        - test/minigzip.c
    - component_id: minideflate
      name: minideflate
      paths:
        - test/minideflate.c
    - component_id: tools
      name: tools
      paths:
        - tools/**
    - component_id: tests
      name: tests
      paths:
        - test/**
        - "!test/minigzip.c"
        - "!test/minideflate.c"
        - "!test/benchmarks/**"
    - component_id: benchmarks
      name: benchmarks
      paths:
        - test/benchmarks/**

github_checks:
    annotations: false

fixes:
  - '/home/actions-runner/_work/zlib-ng/zlib-ng::'
  - '/home/actions-runner/_work/zlib-ng/zlib-ng/build/::'

ignore:
  - usr/include/.*
  - /usr/include/.*
  - /build/usr/include/.*
  - usr/lib/.*
  - /usr/lib/.*
  - /build/usr/lib/.*
  - usr/lib64/.*
  - /usr/lib64/.*
  - /build/usr/lib64/.*
  - _deps/**/*

Use epi64 intrinsics for VPCLMULQDQ operations
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Use masked load/store in partial folding in crc32_vpclmulqdq.
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Remove old comments about crc32 folding from crc32 benchmark.
  test/benchmarks/benchmark_crc32.cc
Due: benchmarks

Batch PCLMULQDQ operations to reduce latency
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Use ternarylogic when available in crc32_vpclmulqdq.
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Remove unnecessary casts from crc32_(v)pclmulqdq.
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Clean up variable names for readability in zmm path.
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Make deflate output deterministic if PREFIX3(stream) is reused after deflateReset
  match_tpl.h
  test/CMakeLists.txt
  test/test_deflate_deterministic.cc
Due: deflate, tests

Unify baseline benchmarking for both adler32 and crc32. Fix missing benchmarks of _copy functions for some platforms.
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_crc32_copy.cc
Due: benchmarks

Use aligned alloc for insert_string benchmark
  test/benchmarks/benchmark_insert_string.cc
Due: benchmarks

Fix name collision in inflate benchmark
  test/benchmarks/benchmark_inflate.cc
Due: benchmarks

Unify adler32/crc32 benchmarks and add rotating misalignment Add aligned benchmarks for adler32/crc32
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_copy.cc
Due: benchmarks

Unify compare256/compare256_rle benchmarks and add rolling misalignment
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_compare256_rle.cc
Due: benchmarks

Expand configure script testing. - Remove 2 redundant jobs. - Add 1 new jobs. - Test multiple non-conflicting options in more of the jobs.
  .github/workflows/configure.yml
Due: none

Use default clang version for most builds. Let one job use clang-15, and a few clang-20
  .github/workflows/cmake.yml
Due: none

Fix CI configure workflow failure artifact upload
  .github/workflows/configure.yml
Due: none

Enable codecov for more CI jobs. Disable codecov where -O1 or higher is requested, since codecov sets -O0. Disable codecov where tests are not run. Add comments for jobs where codecov is not enabled.
  .github/workflows/cmake.yml
Due: none

Remove separate MMAP CI job by folding into another. Remove separate REDUCED_MEM CI job by folding into another. Make sure both are present for both GCC and Clang. Add ZLIB_COMPAT to clang debug job.
  .github/workflows/cmake.yml
Due: none

Add configured compiler defines to informational output, this eases debugging, especially in CI where further inspection is hard.
  CMakeLists.txt
Due: none

Improve detection of compiler code coverage support.
  cmake/detect-coverage.cmake
Due: none

Fix codecov parameter placement warnings.
  .codecov.yaml
Due: none

Fix integer overflow in gz_compress_mmap
  test/fuzz/fuzzer_minigzip.c
  test/minigzip.c
Due: minigzip, tests

Move cleanup undefs to insert_string_tpl.h
  insert_string_p.h
  insert_string_tpl.h
Due: deflate

Add "None" for sanitizer option
  CMakeLists.txt
Due: none

Pre-calculate last vector check ptr in compare256 for sse2 and lsx
  arch/loongarch/compare256_lsx.c
  arch/x86/compare256_sse2.c
Due: arch_loongarch, arch_x86

Add Windows ARM support for EOR3 feature detection and MSVC intrinsics
  arch/arm/arm_features.c
  arch/arm/crc32_armv8_pmull_eor3.c
  cmake/detect-intrinsics.cmake
Due: arch_arm

Guard FreeBSD/OpenBSD auxv calls with HAVE_SYS_AUXV_H check
  arch/arm/arm_features.c
Due: arch_arm

Check for null return value from getauxval(AT_PLATFORM)
  arch/arm/arm_features.c
Due: arch_arm

Use ARCH_64BIT preprocessor define in arm feature checks.
  arch/arm/arm_features.c
Due: arch_arm

Remove unnecessary ARM_AUXV_HAS_NEON preprocessor check
  CMakeLists.txt
  arch/arm/arm_features.c
  configure
Due: arch_arm

Add elf_aux_info() support on FreeBSD/OpenBSD for PMULL and EOR3
  arch/arm/arm_features.c
Due: arch_arm

Remove unnecessary ARM_AUXV_HAS_CRC32 preprocessor check
  CMakeLists.txt
  arch/arm/arm_features.c
  configure
Due: arch_arm

Clean up arm feature check return values.
  arch/arm/arm_features.c
Due: arch_arm

Split OSB builds out into separate workflow. Enable verbose for cmake build stage.
  .github/workflows/cmake.yml
  .github/workflows/osb.yml
Due: none

- Merge -O3 test into prefix test. - Enable benchmarks in both prefix tests, to make sure they work with prefixes.
  .github/workflows/cmake.yml
Due: none

Don't run testing with the extra corpora for RISC-V builds, they take ~15min to finish a single job and they easily bog down the whole CI queue when multiple pushes/PRs are queued.
  .github/workflows/cmake.yml
Due: none

Also upload coverage reports to coveralls.io
  .github/workflows/cmake.yml
  .github/workflows/pigz.yml
Due: none

Remove unnecessary CHUNK_SIZE define
  arch/generic/chunkset_c.c
  arch/power/chunkset_power8.c
  arch/riscv/chunkset_rvv.c
Due: inflate, arch_power, arch_riscv

Remove unnecessary CHUNK_SIZE define - rm last ref
  arch/riscv/chunkset_rvv.c
Due: arch_riscv

Replace conditional byte swapping with portable host/LE conversion
  arch/generic/crc32_braid_c.c
  arch/generic/crc32_chorba_c.c
  crc32_braid_p.h
  deflate.h
  deflate_fast.c
  deflate_quick.c
  inffast_tpl.h
  inflate.c
  inflate_p.h
  insert_string_tpl.h
  zendian.h
Due: deflate, inflate, crc32, common
