Repository pps83/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: deflate, inflate, gzlib, adler32, crc32, common, arch_arm, arch_loongarch, arch_power, arch_riscv, arch_s390, arch_x86, minigzip, minideflate, tools, tests, benchmarks

Add missing resets of compiler flags after completing each test, avoids the next test inheriting the previous flags.
  cmake/detect-intrinsics.cmake
Due: none

Add ARCH defines to code to make the ifdef logic easier
  arch/arm/acle_intrins.h
  arch/arm/arm_features.c
  arch/arm/chunkset_neon.c
  arch/arm/neon_intrins.h
  arch/x86/x86_functions.h
  arch/x86/x86_intrins.h
  cmake/detect-arch.cmake
  configure
  fallback_builtins.h
  functable.c
  inflate_p.h
  zbuild.h
  zendian.h
Due: inflate, common, arch_arm, arch_x86

Add ARCH_32BIT and ARCH_64BIT defines for better code clarity
  arch/x86/x86_functions.h
  arch/x86/x86_intrins.h
  cmake/detect-arch.cmake
  configure
  crc32_braid_p.h
  fallback_builtins.h
  functable.c
  inflate.h
  zbuild.h
Due: inflate, crc32, common, arch_x86

Add missing compiler preprocessor defines for 32-bit architectures
  cmake/detect-arch.c
Due: none

Cleanup preprocessor indents in fallback_builtins.
  fallback_builtins.h
Due: common

Explicitly define the __SSE__ and __SSE2__ macros, since starting with MSVS 2012 the default instruction set is SSE2
  CMakeLists.txt
Due: none

deflateinit was still checking for failed secondary allocations, this is no longer necessary as we only allocate a single buffer and has already been checked for failure before this.
  deflate.c
Due: deflate

Set minimum and upper compatible CMake version
  CMakeLists.txt
  test/add-subdirectory-project/CMakeLists.txt
  test/benchmarks/CMakeLists.txt
  test/fuzz/CMakeLists.txt
  test/pigz/CMakeLists.txt
Due: tests, benchmarks

Update to GoogleTest 1.16.0. This requires minimum CMake 3.13 and C++14, this matches nicely with zlib-ng 2.3.x requirements.
  test/CMakeLists.txt
Due: tests

Replace deprecated FetchContent_Populate with FetchContent_MakeAvailable
  CMakeLists.txt
  cmake/fallback-macros.cmake
  test/CMakeLists.txt
  test/benchmarks/CMakeLists.txt
  test/pigz/CMakeLists.txt
Due: tests, benchmarks

Remove always TRUE or FALSE CMake version checks
  cmake/detect-coverage.cmake
  cmake/fallback-macros.cmake
  test/CMakeLists.txt
Due: tests

Add adler32_copy unit test
  arch/generic/generic_functions.h
  test/CMakeLists.txt
  test/adler32_test_strings_p.h
  test/test_adler32.cc
  test/test_adler32_copy.cc
Due: common, tests

Merge adler32 and crc32 hash test strings.
  test/crc32_test_strings_p.h
  test/hash_test_strings_p.h
  test/test_adler32.cc
  test/test_adler32_copy.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: tests

Separate adler32 test strings into their own source header
  test/adler32_test_strings_p.h
  test/test_adler32.cc
Due: tests

Rename and reorder properties in hash_test.
  test/hash_test_strings_p.h
  test/test_adler32.cc
  test/test_adler32_copy.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: tests

Fixed UB in adler32_avx512_copy storemask when len is 0.
  arch/x86/adler32_avx512.c
Due: arch_x86

Clean up buf == NULL handling on adler32 functions and test strings.
  adler32.c
  arch/arm/adler32_neon.c
  arch/generic/adler32_c.c
  arch/loongarch/adler32_lasx.c
  arch/loongarch/adler32_lsx.c
  arch/power/adler32_power8.c
  arch/power/adler32_vmx.c
  arch/power/crc32_power8.c
  arch/riscv/adler32_rvv.c
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_ssse3.c
  crc32.c
  test/hash_test_strings_p.h
  test/test_adler32_copy.cc
  test/test_crc32.cc
  test/test_crc32_copy.cc
Due: adler32, crc32, arch_arm, arch_loongarch, arch_power, arch_riscv, arch_x86, tests

Remove extra indirection calling into crc32_z functions.
  crc32.c
Due: crc32

Update static analyzer from targeting GCC v10 to v14
  .github/workflows/analyze.yml
Due: none

Fix (impossible) infinite loop in gz_fetch() detected by GCC-14 static analyzer. According to the comment, gz_fetch() also assumes that state->x.have == 0, so lets add an Assert to that effect.
  gzread.c
Due: gzlib

Add Z_UNREACHABLE compiler hint
  deflate.c
  gzread.c
  zbuild.h
Due: deflate, gzlib, common

Use GCC's may_alias attribute for access to buffers in crc32_chorba
  arch/generic/crc32_chorba_c.c
  arch/generic/generic_functions.h
Due: crc32, common

__builtin_bitreverse16 CMake compiler check fails for GCC 13
  fallback_builtins.h
Due: common

Add fallback for __has_builtin to prevent unmatched parenthesis warning
  fallback_builtins.h
Due: common

Add ARM __builtin_bitreverse16 fallback implementation for GCC.
  fallback_builtins.h
Due: common

Remove compiler check for builtin_bitreverse16 since we check in code
  CMakeLists.txt
  configure
  fallback_builtins.h
Due: common

Simplify CRC32 complement operations using bitwise NOT operator
  arch/riscv/crc32_zbc.c
Due: arch_riscv

Fix space indentation formatting in crc32_zbc
  arch/riscv/crc32_zbc.c
Due: arch_riscv

Use epi32 variants for older MSVC (v141/v140) to avoid cast warnings
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Eliminate extra vmovdqu instruction folding xmm into zmm.
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Fix cast truncates constant value warnings with ternarylogic on Win v141
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Combine partial and final fold and reduce the number of operations
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Prefix macros with z in crc32_vpclmulqdq for clarity
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Revert "Move fold calls closer to last change in xmm_crc# variables."
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Hoist folding constants to function scope to avoid repeated loads
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Don't compile in Chorba for vpclmulqdq because it is never used
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Move remaining fold calls before load to hide latency
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Generate shuffle masks in registers for partial_fold.
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Use mm_blend_epi16 in crc32_(v)pclmulqdq final reduction
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Combine final_fold function to remove extra len branch
  arch/x86/crc32_pclmulqdq_tpl.h
Due: arch_x86

Path conditions:
  deflate: any of: compare*, compress*, deflate*, insert*, match*, arch/generic/compare*, arch/generic/slide*, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  inflate: any of: chunkset*, inf*, uncompr*, arch/generic/chunk*, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  gzlib: any of: gz*, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  adler32: any of: adler32*, arch/generic/adler32*, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  crc32: any of: crc32*, arch/generic/crc32*, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  common: any of: arch_functions.h, cpu*, fallback*, functable*, trees*, zbuild*, zendian*, zlib*, zmemory*, zutil*, arch/generic/generic_functions.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_arm: any of: arch/arm/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_loongarch: any of: arch/loongarch/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_power: any of: arch/power/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_riscv: any of: arch/riscv/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_s390: any of: arch/s390/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_x86: any of: arch/x86/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  minigzip: any of: test/minigzip.c, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  minideflate: any of: test/minideflate.c, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  tools: any of: tools/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  tests: any of: test/**, but not: test/minigzip.c, test/minideflate.c, test/benchmarks/**, usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  benchmarks: any of: test/benchmarks/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
