Repository pps83/zlib-ng: changes, and which Codecov flags are due for each by the changed paths.
All: deflate, inflate, gzlib, adler32, crc32, common, arch_arm, arch_loongarch, arch_power, arch_riscv, arch_s390, arch_x86, minigzip, minideflate, tools, tests, benchmarks

Skip redundant literal checks in inflate_fast
  inffast_tpl.h
Due: inflate

Shared macros for inflate decoding trace statements
  infback.c
  inffast_tpl.h
  inflate.c
  inflate_p.h
Due: inflate

Reduce code size and directly call in adler32_copy
  arch/power/adler32_vmx.c
  arch/x86/adler32_ssse3.c
Due: arch_power, arch_x86

Fix oversized pair allocation in adler32_vmx
  arch/power/adler32_vmx.c
Due: arch_power

Remove redundant include directives
  arch/loongarch/crc32_la.c
  arch/riscv/adler32_rvv.c
  arch/riscv/crc32_zbc.c
  arch/riscv/riscv_features.c
Due: arch_loongarch, arch_riscv

Test feature macros in all implementation files
  arch/arm/arm_features.c
  arch/loongarch/loongarch_features.c
  arch/loongarch/slide_hash_lasx.c
  arch/loongarch/slide_hash_lsx.c
  arch/power/crc32_power8.c
  arch/riscv/chunkset_rvv.c
  arch/riscv/riscv_features.c
  arch/s390/crc32-vx.c
  arch/s390/dfltcc_deflate.c
  arch/s390/dfltcc_inflate.c
  arch/s390/s390_features.c
  arch/x86/adler32_sse42.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  arch/x86/x86_features.c
Due: arch_arm, arch_loongarch, arch_power, arch_riscv, arch_s390, arch_x86

Make feature macro tests more consistent
  arch/arm/adler32_neon.c
  arch/arm/arm_features.c
  arch/arm/chunkset_neon.c
  arch/arm/crc32_armv8.c
  arch/arm/crc32_armv8_pmull_eor3.c
  arch/arm/slide_hash_armv6.c
  arch/arm/slide_hash_neon.c
  arch/loongarch/adler32_lsx.c
  arch/loongarch/chunkset_lasx.c
  arch/loongarch/chunkset_lsx.c
  arch/loongarch/crc32_la.c
  arch/loongarch/loongarch_features.c
  arch/loongarch/slide_hash_lasx.c
  arch/loongarch/slide_hash_lsx.c
  arch/power/adler32_power8.c
  arch/power/adler32_vmx.c
  arch/power/chunkset_power8.c
  arch/power/compare256_power9.c
  arch/power/crc32_power8.c
  arch/power/power_features.c
  arch/power/power_intrins.h
  arch/riscv/adler32_rvv.c
  arch/riscv/chunkset_rvv.c
  arch/riscv/crc32_zbc.c
  arch/riscv/riscv_features.c
  arch/riscv/slide_hash_rvv.c
  arch/s390/crc32-vx.c
  arch/s390/s390_features.c
  arch/x86/adler32_sse42.c
  arch/x86/adler32_ssse3.c
  arch/x86/chunkset_avx2.c
  arch/x86/chunkset_avx512.c
  arch/x86/chunkset_sse2.c
  arch/x86/chunkset_ssse3.c
  arch/x86/slide_hash_avx2.c
  arch/x86/slide_hash_sse2.c
  arch/x86/x86_features.c
Due: arch_arm, arch_loongarch, arch_power, arch_riscv, arch_s390, arch_x86

Add ALIGN_UP and ALIGN_DOWN macros for readability
  arch/loongarch/adler32_lasx.c
  arch/loongarch/adler32_lsx.c
  arch/power/crc32_power8.c
  arch/s390/crc32-vx.c
  arch/s390/dfltcc_detail.h
  arch/x86/adler32_avx2.c
  arch/x86/adler32_avx512.c
  arch/x86/adler32_avx512_vnni.c
  arch/x86/adler32_sse42.c
  arch/x86/adler32_ssse3.c
  deflate.h
  zbuild.h
Due: deflate, common, arch_loongarch, arch_power, arch_s390, arch_x86

Use MIN macro in a few more instances throughout the code
  arch/riscv/adler32_rvv.c
  gzread.c
  test/infcover.c
Due: gzlib, arch_riscv, tests

Move DoNotOptimize in benchmark loop to prevent it being optimized away
  test/benchmarks/benchmark_adler32.cc
  test/benchmarks/benchmark_adler32_copy.cc
  test/benchmarks/benchmark_compare256.cc
  test/benchmarks/benchmark_compare256_rle.cc
  test/benchmarks/benchmark_compress.cc
  test/benchmarks/benchmark_crc32.cc
  test/benchmarks/benchmark_crc32_copy.cc
Due: benchmarks

Remove architecture-specific compile definitions from build system
  cmake/detect-arch.cmake
  configure
  zbuild.h
Due: common

Read architecture name from binary in detect-arch.
  cmake/detect-arch.cmake
Due: none

Convert arch detection from preprocessor errors to runtime with header
  arch/arm/adler32_neon.c
  arch/arm/crc32_armv8.c
  arch/arm/slide_hash_armv6.c
  arch/arm/slide_hash_neon.c
  cmake/detect-arch.c
  cmake/detect-arch.cmake
  zarch.h
Due: arch_arm

Add cleanup for defines that might be set before inclusion of chunkset_tpl.h
  chunkset_tpl.h
Due: inflate

Move cleanup to inffast_tpl.h, clean up INFLATE_FAST
  chunkset_tpl.h
  inffast_tpl.h
Due: inflate

Check cpuid availability on FreeBSD/OpenBSD when detecting fast/pmull
  arch/arm/arm_features.c
Due: arch_arm

Add zlib.h, zconf.h, zlib_name_mangling.h (auto-generated files)
  zconf.h
  zlib.h
  zlib_name_mangling.h
Due: common

Add amalgamated version zlib.cpp
  arch/x86/crc32_pclmulqdq_tpl.h
  gzread.c
  zlib.cpp
  zlib_undef.inl
Due: gzlib, common, arch_x86

Add VS2022 project files
  .gitattributes
  test/example.c
  test/infcover.c
  test/test.cpp
  win32/test.vcxproj
  win32/test.vcxproj.filters
  win32/zlib.vcxproj
  win32/zlib.vcxproj.filters
  zlib.sln
Due: common, tests

Fix GCC 13 compilation on Cygwin
  zlib.cpp
Due: common

Add project files for Visual Studio
  .gitattributes
  test/example.c
  test/infcover.c
  test/test.cpp
  win32/test.vcxproj
  win32/test.vcxproj.filters
  win32/zlib.vcxproj
  win32/zlib.vcxproj.filters
  zlib.sln
  zlib.slnx
Due: common, tests

Path conditions:
  deflate: any of: compare*, compress*, deflate*, insert*, match*, arch/generic/compare*, arch/generic/slide*, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  inflate: any of: chunkset*, inf*, uncompr*, arch/generic/chunk*, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  gzlib: any of: gz*, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  adler32: any of: adler32*, arch/generic/adler32*, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  crc32: any of: crc32*, arch/generic/crc32*, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  common: any of: arch_functions.h, cpu*, fallback*, functable*, trees*, zbuild*, zendian*, zlib*, zmemory*, zutil*, arch/generic/generic_functions.h, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_arm: any of: arch/arm/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_loongarch: any of: arch/loongarch/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_power: any of: arch/power/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_riscv: any of: arch/riscv/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_s390: any of: arch/s390/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  arch_x86: any of: arch/x86/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  minigzip: any of: test/minigzip.c, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  minideflate: any of: test/minideflate.c, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  tools: any of: tools/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  tests: any of: test/**, but not: test/minigzip.c, test/minideflate.c, test/benchmarks/**, usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
  benchmarks: any of: test/benchmarks/**, but not: usr/include/.*, /usr/include/.*, /build/usr/include/.*, usr/lib/.*, /usr/lib/.*, /build/usr/lib/.*, usr/lib64/.*, /usr/lib64/.*, /build/usr/lib64/.*, _deps/**/*
